
@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Referanslar</h1>
<img src="~/Content/img/resim.png" alt="resim" class="" />


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod risus, nec lacinia lectus. In justo nisl, cursus vel tempor et, eleifend non dolor. Nunc porttitor aliquam suscipit. Mauris id lectus turpis. Ut eu metus ac enim iaculis vehicula. Duis tortor felis, placerat et laoreet vitae, hendrerit quis nulla. Aliquam sagittis imperdiet commodo. Pellentesque tincidunt neque quis nisl viverra bibendum. Duis ac nulla eu risus euismod placerat vel mattis erat. Quisque cursus libero quis maximus euismod. Duis convallis justo quis arcu porta vulputate.
</p>
<p>
    Morbi consectetur ligula vitae ante porta, sed viverra ante blandit. Donec nec orci pretium, efficitur metus ut, viverra metus. Nunc ipsum ipsum, condimentum nec nibh ut, euismod molestie dolor. Fusce tincidunt tincidunt neque luctus commodo. Mauris libero orci, sagittis in dapibus vel, condimentum vitae libero. Proin dui ipsum, tristique vitae mauris nec, facilisis rhoncus nibh. Nullam a augue dolor. Sed molestie leo non mauris consequat scelerisque.
</p>
<p>
    Quisque vitae est risus. Vestibulum egestas feugiat eros eget facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur a metus dapibus, venenatis nulla quis, mattis sem. Aliquam blandit lorem et ligula vehicula vestibulum. Cras cursus felis non iaculis lacinia. Vestibulum suscipit id nulla aliquet aliquam. Vestibulum id arcu faucibus, mollis ipsum fringilla, tincidunt mi.
</p>
<p>
    Nullam pharetra eros vitae porta scelerisque. In eget ligula vulputate, scelerisque orci ut, ultricies dui. Donec aliquam, sapien sed hendrerit laoreet, magna ex ultricies mauris, eget maximus ligula ipsum venenatis felis. Pellentesque pulvinar nisl tempus ultrices bibendum. Cras lacinia accumsan augue at lobortis. Cras at ex tincidunt ligula dignissim dapibus non ut nibh. Integer leo erat, hendrerit non vehicula vitae, scelerisque vel lacus. Nam in turpis id est dignissim lacinia et sed mauris. Curabitur ut orci eu mauris iaculis feugiat. Sed congue ipsum sed bibendum convallis.
</p>
<p>
    Ut porta feugiat finibus. Praesent eleifend blandit lacus non feugiat. Ut id elementum felis, ut viverra ipsum. Cras consectetur aliquam scelerisque. Maecenas semper, neque id sagittis varius, risus sem posuere lorem, eu venenatis justo diam sit amet nulla. Cras aliquam dolor vitae diam commodo viverra. Aliquam erat volutpat. In pellentesque consectetur purus at euismod. In euismod, justo ut euismod pulvinar, orci magna tincidunt tellus, sagittis faucibus elit quam non augue. Sed tempor orci tellus, sit amet porttitor justo laoreet a. Aliquam id suscipit lorem. Phasellus sit amet nunc eget est euismod dictum. Mauris vitae ligula id ante dignissim finibus.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod risus, nec lacinia lectus. In justo nisl, cursus vel tempor et, eleifend non dolor. Nunc porttitor aliquam suscipit. Mauris id lectus turpis. Ut eu metus ac enim iaculis vehicula. Duis tortor felis, placerat et laoreet vitae, hendrerit quis nulla. Aliquam sagittis imperdiet commodo. Pellentesque tincidunt neque quis nisl viverra bibendum. Duis ac nulla eu risus euismod placerat vel mattis erat. Quisque cursus libero quis maximus euismod. Duis convallis justo quis arcu porta vulputate.
</p>
<p>
    Morbi consectetur ligula vitae ante porta, sed viverra ante blandit. Donec nec orci pretium, efficitur metus ut, viverra metus. Nunc ipsum ipsum, condimentum nec nibh ut, euismod molestie dolor. Fusce tincidunt tincidunt neque luctus commodo. Mauris libero orci, sagittis in dapibus vel, condimentum vitae libero. Proin dui ipsum, tristique vitae mauris nec, facilisis rhoncus nibh. Nullam a augue dolor. Sed molestie leo non mauris consequat scelerisque.
</p>
<p>
    Quisque vitae est risus. Vestibulum egestas feugiat eros eget facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur a metus dapibus, venenatis nulla quis, mattis sem. Aliquam blandit lorem et ligula vehicula vestibulum. Cras cursus felis non iaculis lacinia. Vestibulum suscipit id nulla aliquet aliquam. Vestibulum id arcu faucibus, mollis ipsum fringilla, tincidunt mi.
</p>
<p>
    Nullam pharetra eros vitae porta scelerisque. In eget ligula vulputate, scelerisque orci ut, ultricies dui. Donec aliquam, sapien sed hendrerit laoreet, magna ex ultricies mauris, eget maximus ligula ipsum venenatis felis. Pellentesque pulvinar nisl tempus ultrices bibendum. Cras lacinia accumsan augue at lobortis. Cras at ex tincidunt ligula dignissim dapibus non ut nibh. Integer leo erat, hendrerit non vehicula vitae, scelerisque vel lacus. Nam in turpis id est dignissim lacinia et sed mauris. Curabitur ut orci eu mauris iaculis feugiat. Sed congue ipsum sed bibendum convallis.
</p>
<p>
    Ut porta feugiat finibus. Praesent eleifend blandit lacus non feugiat. Ut id elementum felis, ut viverra ipsum. Cras consectetur aliquam scelerisque. Maecenas semper, neque id sagittis varius, risus sem posuere lorem, eu venenatis justo diam sit amet nulla. Cras aliquam dolor vitae diam commodo viverra. Aliquam erat volutpat. In pellentesque consectetur purus at euismod. In euismod, justo ut euismod pulvinar, orci magna tincidunt tellus, sagittis faucibus elit quam non augue. Sed tempor orci tellus, sit amet porttitor justo laoreet a. Aliquam id suscipit lorem. Phasellus sit amet nunc eget est euismod dictum. Mauris vitae ligula id ante dignissim finibus.
</p>
