
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AnaSayfa</h1>
<img src="~/Content/img/resim.png" alt="resim" class=""/>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies, elit ac mollis pretium, enim diam pretium leo, vel molestie mi risus quis arcu. Vestibulum maximus at lacus vitae pulvinar. Quisque sodales ullamcorper luctus. Vestibulum nec auctor lectus. Proin a velit id felis placerat rhoncus. Nullam ut justo vel elit facilisis fringilla. Vivamus vel mollis turpis. Etiam fermentum bibendum quam sed cursus. Nunc in hendrerit sem, id efficitur dolor. Nulla in facilisis nulla. Cras dignissim sodales placerat. Phasellus congue sapien ut volutpat tempor. Vivamus a tellus facilisis, ullamcorper magna a, eleifend lectus. Nulla interdum, neque vel fringilla accumsan, massa felis tristique eros, et vehicula ex eros vel nibh.
</p>
<p>
    Donec nunc nisl, convallis et consectetur eget, mattis in odio. Quisque fringilla metus non efficitur pharetra. Nulla facilisi. Integer blandit eu lorem eget interdum. Etiam ac hendrerit neque, id imperdiet urna. Quisque ac massa at ligula finibus lobortis non ac arcu. Quisque dignissim aliquam ante, in pretium nulla gravida ut. Sed pulvinar lacus nec arcu pharetra, nec imperdiet dolor convallis. Mauris sem nisl, egestas et rutrum sed, dignissim vitae sem. Mauris sit amet semper ante.
</p>
<p>
    Nam sed facilisis orci, sed viverra dui. Integer quis ante sed nisl fermentum tincidunt eget ut odio. Nam ultricies odio ac leo varius, id volutpat neque sollicitudin. Mauris eu gravida turpis. Nam porttitor tellus sed enim ultrices, vitae tincidunt odio porta. Donec risus massa, porta vitae urna id, efficitur condimentum libero. Fusce nec est et mauris feugiat tristique. Suspendisse pretium, neque a varius congue, nunc nisl bibendum metus, ac porttitor magna magna interdum lectus. Nullam et mi eros. Praesent malesuada libero libero, ac egestas odio fermentum ac. Nulla eu facilisis tortor, non pretium mauris. Nulla et semper orci, eu malesuada eros. Nullam tempus egestas molestie. Praesent vulputate odio ac augue tincidunt mollis. Aliquam vel rhoncus nisl, eget aliquet mi.
</p>
<p>
    Sed non sem dignissim, euismod tellus sit amet, vestibulum est. Etiam nec convallis eros. Ut ac ultricies sapien. Proin convallis rhoncus libero ut faucibus. Cras accumsan at arcu vitae ullamcorper. Sed commodo nunc et nisi faucibus, id sollicitudin urna cursus. Mauris tincidunt finibus ex, id commodo elit elementum at. Aliquam tincidunt turpis a neque semper pellentesque.
</p>
<p>
    Morbi semper metus nisl, nec facilisis orci faucibus sed. Duis ut felis sed urna fermentum accumsan. Aenean venenatis, nulla sit amet sodales laoreet, augue ligula sodales magna, eget tempor felis eros sed ipsum. Cras finibus nisi ante, et cursus metus lobortis rhoncus. Cras vulputate risus dolor, at convallis augue euismod suscipit. Mauris sed lectus a orci elementum imperdiet dapibus eu nisi. Curabitur mattis ac diam quis porttitor. Aliquam vel dolor in massa auctor interdum ac et erat. Cras dictum, leo vel viverra facilisis, ligula leo cursus ipsum, eget varius leo ex nec nunc. Fusce vitae sapien ultrices, dignissim arcu vestibulum, semper urna.
</p>